<h1> <%= @article.title %> </h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: "embolden" %>
  <% end %>
</p>
<p>
  <% if @article.image.exists? %>
  <%= image_tag @article.image.url %></p>
  <% end %>
<%= @article.body %>
<p> Posted <%= distance_of_time_in_words(@article.created_at, Time.now) %> ago </p> 
<% if logged_in? %>
<%= link_to "Edit", edit_article_path(@article), class: "embolden" %>
<%= link_to "Delete", article_path(@article), method: :delete, class: "embolden", data: {confirm: "Really delete the article?"} %>
<% end %>
<h3> Comments (<%= @count %>) </h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "Back to Articles", articles_path %>