<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div id="container" class="container">
    <p class="flash"><%= flash.notice %></p>
    <div id="content" class="row">
      <div class="col-xs-2" id="sidebar">
        <h4> What do you want to do? </h4>
          <ul>
            <li> <%= link_to "See all posts", articles_path %> </li>
            <li> <%= link_to "Create a new post", new_article_path %></li>
            <li> <%= link_to "Search tags", tags_path %> </li>
            

        <% if logged_in? %>
            <li> <%= link_to "Logout", logout_path %></li>
            <% else %>
            <li> <%= link_to "Login", login_path %></li>
        <% end %>
          </ul>
      </div>
      <div class="col-xs-10" id="main_content">
        <%= yield %>
      </div>
      <hr>

    </div>
  </div>
</body>
</html>
